body {
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
}

button {
    width: 120px;
    border-radius: 10px;
    height: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.circle {
    background-color: black;
    width: 500px;
    border-radius: 10px;
    justify-items: center;
}

.buttons {
    border: 1px dotted;
    padding: 25px;
    border-radius: 20px;
}